

@mixin text-section {
  font-family: "Archivo", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin title {
  font-family: "Old Standard TT", serif;
    font-size: 50px;
    font-weight: 100;
}

@mixin text {
  color: #777777;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 20px;
}

@mixin custom-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
  color: #fff;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

@mixin custom-bgimg {
width: 80%;
height: 280px;
margin: 0 auto;
background-color: #E4E4E4;
margin-top: 60px;
}

@mixin video {
  margin-top: 30px;
    margin-bottom: 30px;
    height: 250px;
    background-color: #e6e6e6;
    position: relative;
  
    .circle {
      position: absolute;
      background-color: #FFF;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

