@use 'home/nav';
@use 'home/hero';
@use 'home/about';
@use 'home/rooms';
@use 'home/video';
@use 'home/facilities';
@use 'home/menu';
@use 'home/stats';
@use 'home/social';
@use 'home/services';
@use 'home/contact';
@use 'home/footer';
@use 'about/about-hero';
@use 'about/restaurant';
@use 'about/about-facilities';
@use 'about/counter';
@use 'rooms/room-hero';
@use 'roomDetail/doubleBed';
@use 'roomDetail/amenities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 375px;
    min-width: 320px;
}


