@use "../mixinsfunc";

.about-hero {
  &__container {
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    background-color: #222222;
    margin-top: 80px;
    padding-top: 80px;

    .text.text-about {
      padding-bottom: 30px;
      color: #fff;

      .title {
        margin-top: 0;
        font-family: "Old Standard TT", serif;
        font-size: 50px;
        font-weight: 100;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .description {
        font-family: "Archivo", sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .banner {
      margin-left: auto;
      width: 50%;
      padding: 10px;
      padding-right: 30px;
      padding-left: 30px;
      background-color: #fff;
      font-family: "Archivo", sans-serif;
      font-size: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .home {
        color: #222222;
        text-decoration: none;
        cursor: pointer;
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        font-size: 16px;
      }

      .page {
        color: #bead8e;
      }

      span {
        font-size: 25px;
      }
    }
  }
}

.about-video {
  &__container {
    padding: 20px;
    .video {
      @include mixinsfunc.video;

      video {
        width: 100%;
        height: 280px;
        object-fit: initial;
      }
    }
  }
}

.about-title {
  @include mixinsfunc.title;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  margin-bottom: 20px;
}

.about-cards {
  padding: 20px;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    gap: 20px;

    .card {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 90%;
      color: #222222;
      text-align: center;

      .hover {
        display: none;
        margin: 0 auto;
      }

      .normal {
        margin: 0 auto;
      }

      &:hover {
        background-color: #bead8e;
      }
    }
    h6 {
      font-family: "Archivo", sans-serif;
      text-transform: uppercase;
      color: #777777;
      font-size: 10px;
      margin-top: 10px;
    }

    .images {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      height: 55px;

      .table {
        width: 20px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .nav {
    &__container {
      background-color: #222222;
      
    }
  }
  .about-hero {
    &__container {
      margin-top: 0px;
      padding-left: 200px;
      padding-right: 200px;
      background-color: #333333;
      background-image: url("../assets/playa.jpg");
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      .banner {
        width: 260px;
      }
    }
  }
  .about-video {
    &__container {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      .video {
        @include mixinsfunc.video;

        video {
          width: 50%;
          height: 380px;
          object-fit: initial;
        }
      }
    }
  }

  .about-title {
    width: 50%;
    font-size: 40px;
  }

  .about-cards {
    margin-bottom: 40px;
    .row {
      width: 50%;
      margin: 0 auto;
    }
    .column {
      flex-direction: row;
    }
  }
}
