@use "../mixinsfunc";

.counter {
  &__container {
    padding: 20px;
    margin-top: 40px;

    h4 {
      @include mixinsfunc.text-section;
      font-size: 12px;
      color: #777777;
    }

    h1 {
      @include mixinsfunc.title;
      font-size: 50px;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .counter-card {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 40px;
      margin-bottom: 40px;

      .card {
        display: flex;
        gap: 20px;
        align-items: center;

        .image-space {
          margin-right: 10px;
        }

        h1 {
          margin: 0;
        }

        h6 {
          @include mixinsfunc.text;
          font-weight: 100;
        }
      }
    }
    .about-image {
      margin-bottom: 30px;
      height: 250px;
      width: 100%;
      margin: 0 auto;

      .visible-hidden {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .counter {
    &__container {
      width: 70%;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 150px;

      .container-cards {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .about-image {
        display: flex;
        gap: 20px;
        img {
          height: 300px;
        }
        .visible-hidden {
          display: block;
        }
      }
    }
  }
}
