@use "../mixinsfunc";

.contact {
  &__container {
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    

    .title {
      @include mixinsfunc.title;
      font-size: 20px;
      margin-bottom: 40px;
    }

    .card-contact {
      display: flex;
      justify-content: left;
      gap: 20px;
      margin-bottom: 40px;

      .title {
        @include mixinsfunc.title;
            font-size: 15px;
            margin-bottom: 0px;
      }

      .text {
        font-family: "Roboto", sans-serif;
        color: #777777;
        font-weight: 100;
      }
    }
  }
}
