
.footer {
    &__container {
        padding: 20px;
        font-family: 'Roboto', sans-serif;
        color: #222222;
        font-size: 20px;
        

        .text-container {
            margin-top: 20px;
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }
}