@use "../mixinsfunc";

.home-hero {
  &__container {
    background-color: #333333;
    margin-top: 80px;
    background-image: url("../images/home/terracenight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      color: #fff;
      padding-top: 60px;
      padding-bottom: 60px;

      .description {
        width: 60%;
        font-family: "Archivo", sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .title {
        font-family: "Old Standard TT", serif;
        font-size: 50px;
        font-weight: 100;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      button {
        @include mixinsfunc.custom-btn;
      }
      .take-tour {
        background-color: #bead8e;
        border: none;
      }
      .learn-more {
        margin-top: 20px;
        background-color: #333333;
        border: 1px solid #fff;
      }
    }
    .date-check {
      padding: 20px;
      color: #fff;
      background-color: #222222;
      padding-bottom: 30px;

      .container-input {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 14px;

        .input {
          appearance: none;
          color: #1D1D1D;
          font-family: “Helvetica”, arial, sans-serif;
          font-size: 12px;
          border: none;
          color: transparent;
          border-bottom:1px solid #bead8e;
          color: #848078;
          background-color: #222222;
          padding: 6px;
          display: inline-block;
          visibility: visible;
          width: 90%;
          }

          .input:focus {
            outline: 0;
            border-radius: 1px;
            }

            .input {
              color-scheme: dark;
            }
        
      
      }

      .btn-check {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 60%;
        color: #fff;
        text-transform: uppercase;
        font-family: "Archivo", sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        background-color: #bead8e;
        border: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .home-hero {
    &__container {
      margin-top: 0px;
      padding-top: 40px;
      background-position: center;
      .text {
        padding-left: 200px;
        margin-top: 40px;
        margin-bottom: 40px;

        .title {
          width: 40%;
          font-size: 70px;
        }

        .button-display {
          display: flex;
          width: 30%;
          gap: 10px;
        }

        .learn-more {
          margin-top: 0px;
        }
      }
      .date-check {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 30px;
        padding-bottom: 0px;

      .container-input {
          width: 20%;
        }
      
        .btn-check {
          width: 20%;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 100px;
        }
      }
    }
  }
}
