@use "../mixinsfunc";

.menu {
  &__container-icon {
    margin-top: 40px;
    .food-icon {
      text-align: right;
      padding: 0;
    }

    .container-menu {
      padding: 20px;

      .text-section {
        @include mixinsfunc.text-section;
        margin-bottom: 20px;
      }

      .title {
        @include mixinsfunc.title;
        margin-bottom: 20px;
        width: 70%;
      }

      .card-menu {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;

        .img {
          width: 40%;
          height: 130px;
          background-color: #dbdbdb;
        }

        .text-container {
          width: 60%;
        }

        .subtitle {
          @include mixinsfunc.title;
          font-size: 25px;
          margin-bottom: 15px;
        }

        .text {
          @include mixinsfunc.text;
          color: #222222;
          font-size: 13px;
          line-height: 25px;
        }
      }

      .slider-container {
        margin-top: 40px;
        .container-buttons {
            display: flex;
            justify-content: end;
            gap: 5px;
            margin-bottom: 40px;
            
        }

        button {
            width: 30px;
            height: 30px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .left {
            background-color: #F8F8F8;
        }

        .right {
            background-color: #bead8e;
        }

        .slider {
           height: 300px;
           background-color: #EDEDED;
        }
      }
    }
  }
}
