@use "../mixinsfunc";

.rooms {
  &__container {
    text-align: center;
    margin-top: 40px;

    .text-section {
      color: #777777;
      @include mixinsfunc.text-section;
      margin-bottom: 20px;
    }
    .title {
      color: #222222;
      @include mixinsfunc.title;
      margin-bottom: 40px;
    }
    .slider-container {
      height: 200px;
      position: relative;

      .icons {
        width: 70%;
        position: absolute;
        top: -5px;
        left: 15%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .images-container {
        height: 280px;
        width: 90%;
        margin: 0 auto;
        position: relative;
        padding-top: 0px;
        z-index: -1;

        img {
          height: 70%;
          width: 100%;
          display: none;
          position: absolute;
          left: 0;
        }

        .image-slider.active {
          display: block;
        }
      }

      button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 25px;
        height: 25px;
        border: none;
      }

      .btn-left {
        left: 0;
        background-color: #fff;
        background-image: url("../assets/left.png");
        background-size: 5px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .btn-right {
        right: 0;
        background-color: #bead8e;
        background-image: url("../assets/right.png");
        background-size: 5px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .slider-bottom {
        width: 70%;
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 15%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .description {
      text-align: center;
      width: 70%;
      margin: 0 auto;

      .title {
        @include mixinsfunc.title;
        font-size: 25px;
      }

      .text {
        @include mixinsfunc.text;
        margin-bottom: 20px;
      }

      .price {
        color: #bead8e;
      }
      .night {
        font-family: "Archivo", sans-serif;
        font-size: 10px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .rooms {
    &__container {
      width: 70%;
      margin: 0 auto;

      .slider-container {
        height: 400px;
        position: relative;

        .images-container {
          height: 570px;
          width: 90%;
          margin: 0 auto;
          position: relative;
          padding-top: 0px;
          z-index: -1;

          img {
            height: 70%;
            width: 100%;
            display: none;
            position: absolute;
            left: 0;
          }

          .image-slider.active {
            display: block;
          }
        }
        button {
          padding: 20px;
        }
        .btn-left {
          left: 30px;
        }

        .btn-right {
          right: 30px;
        }
      }
    }
  }
}
