@use "../mixinsfunc";

.video {
  &__container {
    background-color: #222222;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 40px;

    .text-section {
      @include mixinsfunc.text-section;
      color: #bead8e;
      margin-bottom: 20px;
      font-size: 12px;
    }

    .title {
      @include mixinsfunc.title;
      color: #fff;
      width: 80%;
      margin-bottom: 20px;
    }

    .text {
      @include mixinsfunc.text;
      color: #c2c2c2;
    }

    .btn-book {
      display: none;
    }

    .video {
      @include mixinsfunc.video;

      video {
        width: 100%;
        height: 280px;
        object-fit: initial;
      }
    }
    button {
      @include mixinsfunc.custom-btn;
      background-color: #bead8e;
      border: none;
    }
  }
}

@media (min-width: 1200px) {
  .video {
    &__container {
      background: linear-gradient(90deg, #222222 70%, #bead8e 30%);
      .sub-container {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 70%;
        margin: 0 auto;
        display: flex;
        gap: 100px;
      }
      .btn-book {
        display: block;
        margin-top: 20px;
      }

      .text-container {
        width: 40%;
      }

      .video {
        width: 40%;
        video {
          height: 340px;
        }
      }

      button {
        display: none;
      }
    }
  }
}
