@use "../mixinsfunc";

.video {
 
  &__container {
    background-color: #222222;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 40px;

    .text-section {
      @include mixinsfunc.text-section;
      color: #bead8e;
      margin-bottom: 20px;
      font-size: 12px;
    }

    .title {
      @include mixinsfunc.title;
      color: #fff;
      width: 80%;
      margin-bottom: 20px;
    }

    .text {
      @include mixinsfunc.text;
      color: #c2c2c2;
    }

    .video {
      @include mixinsfunc.video;
    }
    button {
      @include mixinsfunc.custom-btn;
      background-color: #bead8e;
      border: none;
    }
  }
}
