@use "../mixinsfunc";

.double-bed__container {
  padding: 0;
  .sub-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-text {
    button {
      display: none;
    }
  }

  .offer-image {
    height: 200px;
  }

  .title-container {
    margin-bottom: 20px;
    text-align: end;
    padding-right: 10px;

    h2 {
      font-family: "Archivo", sans-serif;
      font-weight: 900;
      margin-bottom: 10px;
    }

    .original-container {
      display: flex;
      justify-content: end;
      align-items: end;
      margin-bottom: 10px;
      color: #bead8e;
    }

    .original {
      margin: 0;
      padding: 0;
      text-decoration: line-through;
    }

    .discount {
      color: #de5777;
      font-size: 35px;
    }

    .night {
      text-decoration: line-through;
    }
  }
  .container-grid {
    display: none;
  }
}

.amenities {
  &__container {
    margin-bottom: 100px;
    button {
      @include mixinsfunc.custom-btn;
      margin-top: 50px;
      border: none;
      background-color: #bead8e;
    }
  }
}

.popular {
  &__container {
    padding: 40px 20px;
    margin-top: 70px;
    margin-bottom: 40px;
    background-color: #222222;

   
    h1 {
      @include mixinsfunc.title;
      text-align: center;
      color: #fff;
      font-size: 30px;
      margin-bottom: 20px;
    }
    h5 {
      @include mixinsfunc.text-section;
      text-align: center;
      color: #bead8e;
      font-size: 12px;
      margin-bottom: 20px;
    }

     .cards-desktop {
      display: none;
    }


    .slider-global {
      background-color: #fff;
    }

    .slider-container {
      height: 200px;
      background-color: #e4e4e4;
      position: relative;

      .icons {
        width: 70%;
        position: absolute;
        top: 90%;
        left: 15%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      button {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        transform: translate(0, -50%);
        border: none;
      }

      .left {
        left: -5px;
        background-color: #fff;
      }

      .right {
        right: -5px;
        background-color: #bead8e;
      }

      .slider {
        img {
          height: 200px;
          width: 100%;
        }
      }
    }

    .description {
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;
      padding-bottom: 30px;

      .title {
        @include mixinsfunc.title;
        font-size: 25px;
        margin-bottom: 20px;
        color: #222222;
      }

      .text {
        @include mixinsfunc.text;
        margin-bottom: 20px;
      }

      .text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
        gap: 20px;

        h6 {
          font-size: 15px;
          color: #bdbdbd;
          font-family: "Archivo", sans-serif;
        }

        .price {
          color: #bead8e;
          font-size: 20px;
          font-family: "Archivo", sans-serif;
          font-weight: 900;
        }

        .night {
          font-family: "Archivo", sans-serif;
          font-size: 10px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .double-bed__container {
    .offer-image {
      height: 400px;
    }

    .text-container {
      width: 100%;
    }

    .desktop {
      display: flex;
      gap: 40px;
      width: 100%;
    }

    .container-text {
      width: 60%;
      margin-right: 20px;

      button {
        @include mixinsfunc.custom-btn;
        display: block;
        width: 50%;
        margin-top: 20px;
        border: none;
        background-color: #bead8e;
      }
    }
    .text {
      width: 100%;
    }

    .container-grid {
      display: block;
      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }

      .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        gap: 0px;
        margin-right: 40px;

        h6 {
          font-family: "Roboto", sans-serif;
          color: #777777;
          font-weight: 100;
          font-size: 10px;
        }
      }
    }
  }
  .amenities {
    &__container {
      display: none;
    }
  }

    .popular {
      &__container {
        padding-bottom: 100px;
        h1 {
            
            font-size: 50px;
            margin-bottom: 50px;
            margin-top: 50px;
          }

        .cards-desktop {
          display: flex;
          width: 70%;
          margin:  0 auto;
          gap: 40px;

          .slider {
            img {
              height: 200px;
              width: 100%;
            }
          }
         
        }

        .slider-mobile {
          display: none;
        }
      }}
}
